{% extends "main.html" %}
{% block content %}

<div class="ui main text container">

  <h1 class="ui header">Your Feed ({{ postAmount }} Posts):</h1>

  <div class="ui cards">

  {% for post_id, post in posts.items(): %}
  {% if post[1]: %}
  
  <div class="ui raised card">
  <div class="content">
    <div class="header">{{ post[0] }}</div>
    <div class="description"><p>{{ post[2] }}</p></div>
  </div>
  <div class="extra content">
    <div class="right floated author">
      <img class="ui avatar image" src="{{ post[3] }}"> {{ post[1] }}
    </div>
  </div>
  </div>

  {% endif %}
  {% endfor %}

  </div>

</div>

{% endblock %}