{% extends "base.html" %}
{% block content %}

<div class="ui main text container">

  <h1 class="ui header">
    Hi! Welcome to JakeBook
    <div class="sub header">A Brand New, Innovative Social Media Platform created by <a href='https://jakebutterfield.co.uk' target="_blank">Jake Butterfield</a>.</div>
  </h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="ui error message">
        <ul class="list">
          {% for message in messages %}
            <p style="color: red;">{{ message }} </p>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  <h3 class="ui header">If you have an account please sign in below:</h3>

  <form class="ui form" action="{{ url_for('index') }}" method="post">
    {{ login_form.hidden_tag() }}
    {{ login_form.email }}
    {{ login_form.password }}
    <br>
    {{ login_form.loginSubmit(class_='ui button') }}
  </form>

  <h3 class="ui header">Alternatively, you can create an account here:</h3>

  <form class="ui form" action="{{ url_for('index') }}" method="post">
    {{ register_form.hidden_tag() }}
    {{ register_form.email }}
    {{ register_form.password }}
    {{ register_form.confirmPassword }}
    <div class="ui checkbox" style="margin-bottom: 10px; margin-top: 10px;">
    {{ register_form.consent }}
    {{ register_form.consent.label }}
    </div>
    <br>
    {{ register_form.registerSubmit(class_='ui button') }}
  </form>

</div>

<br><br><br>

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#383b75"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "position": "bottom-right"
});
</script>

{% endblock %}