<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

  {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title> No title specified</title>
      {% endif %}

      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

  </head>
  <body>

    <div class="ui one item menu" style="margin-bottom: 0px; margin-top: 0px;">
      <a class="item" href="{{ url_for('home') }}"><b><h2>~JakeBook~</h2></b></a>
    </div>

    <div class="ui four item menu" style="margin-top: 0px;">
      <a class="item" href="{{ url_for('home') }}">Home</a>
      <a class="item" href="{{ url_for('newpost') }}">New Post</a>
      <a class="item" href="{{ url_for('profile') }}">Profile</a>
      <a class="item" href="{{ url_for('logout') }}">Logout</a>
    </div>

    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>