{% extends "main.html" %}
{% block content %}

<div class="ui main text container">

  <h1 class="ui header">New Post:</h1>

  <form class="ui form" action="{{ url_for('newpost') }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.title }}
    {{ form.post }}
    <br>
    {{ form.postSubmit(class_='ui button') }}
  </form>

</div>

{% endblock %}