{% extends "main.html" %}
{% block content %}

<div class="ui main text container">

  <h1 class="ui header">
    Your Profile
    <div class="sub header">Here you can change your profile icon and your password</div>
  </h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="ui message">
        <ul class="list">
          {% for message in messages %}
            <p>{{ message }} </p>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  <h3>Change Icon:</h3>

  <table class="ui basic table">
    <tr>
      <td><img class="ui small bordered image" src='{{ icon }}'></td>
      <td>
        <form class="ui form" action="{{ url_for('profile') }}" method="post">
          {{ icon_form.hidden_tag() }}
          {{ icon_form.newIcon }}
          {{ icon_form.submitIcon(class_='ui button') }}
        </form>
      </td>
    </tr>
  </table>

  <h3>Change Password:</h3>

  <form class="ui form" action="{{ url_for('profile') }}" method="post">
    {{ password_form.hidden_tag() }}
    {{ password_form.oldPass }}
    {{ password_form.newPass }}
    {{ password_form.confirmPass }}
    {{ password_form.submitPass(class_='ui button') }}
  </form>

</div>

<br><br><br>

{% endblock %}